@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
    background-color: rgb(238, 234, 228);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    padding: 20px;
    box-shadow: 0 1px 10px #ccc;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

main > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

input {
    padding: 5px;
    outline: none;
    accent-color: rgb(255, 6, 6);
    border-color: rgb(253, 3, 3);
}

input[type=checkbox]{
    width: 18px;
    height: 18px;
}

input[type=range]{
    width: 90%;
}

button {
    background-color: rgb(255, 0, 0);
    cursor: pointer;
    color: #ddd;
    border: none;
    padding: 5px;
}
